<!DOCTYPE html>
<html>

{{> head}}

	<main class="page contact-us-page">
		<section class="clean-block clean-form dark">
			<div class="container">
				<div class="block-heading">
					<h2 style="color: #94d4b4;">Nueva cita</h2>
				</div>
				<form action="/whichDoc" style="border-top-color: #97d6b5;">
					<input  type="hidden"  class="form-control"  name="id_paciente" value="{{paciente.id}}">
						<label>Elige un día para la cita</label>
					<input class="form-control" id="miInputChulo" type="datetime-local" name="tiempo">
					<button type="submit">Click</button>
				</form>
			</div>

		</section>
		<section class="clean-block clean-form light">
				<div class="container" style="border-top-color: rgb(151, 214, 181)">
					<div class="block-heading">
						<h2 style="color: #94d4b4;">Listado de sanitarios para pedir
							cita</h2>
						<div class="table-responsive">
					<table  class="table" style="border-top-color: rgb(151, 214, 181)">
						<thead>
						<tr>
							<th style="color: #000000">Nombre Doctor</th>
							<th style="color: #000000">Primer Apellido</th>
							<th style="color: #000000">Rol</th>
							<th style="color: #000000">Pedir cita</th>
						</tr>
						</thead>
						<tbody id="myTable">
							{{#object}}
							<tr>					
							<th>{{name}}</th>
							<th>{{surname1}}</th>
							<th>{{role}}</th>
							<th><a href="citaAgregada.html">Nueva cita</a></th>
							</tr>
							{{/object}}
						</tbody>
					</table>
			</div>
		</section>
	</main>
	{{> footer}}
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/assets/js/smoothproducts.min.js"></script>
	<script src="/assets/js/theme.js"></script>
	<script src="/assets/js/tabla.js"></script>
</body>

</html>