<!DOCTYPE html>
<html>

{{> head}}

<main class="page landing-page">
	<section class="clean-block clean-form dark">
		<div class="block-heading">
			<h2 style="color: #94d4b4;">Área Sanitarios</h2>
		</div>
		<form style="border-top-color: rgb(151, 214, 181);">
			<center>
				<button onclick="location.href='/mostrarPacientes'"
					class="btn btn-primary" type="button"
					style="width: 205px; background: rgb(255, 191, 105); font-size: 20px; border-color: rgba(255, 255, 255, 0.4); color: #000000;">
					Ver mis pacientes</button>
			</center>
		</form>
	</section>
</main>

{{> footer}}

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>

</html>
