<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

{{> head}}
<script>$(document).ready( function () {
    $('#miTabla').DataTable();
} );</script>

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div style="margin-top: 100px" class="block-heading">
            <h2 style="color: #94d4b4;">Buscar Sanitario</h2>
            <form action="/searchHealthPersonnel" class="navbar-form navbar-right" style="border-top-color: rgb(151, 214, 181)">
                <input type="text" style="margin: 15px" class="form-control" placeholder="Búsqueda general" name="q1">
                <input type="text" style="margin: 15px" class="form-control" placeholder="Búsqueda por edad" name="q2">
                <button type="submit" class="btn btn-primary btn-block" type="button"
                        style="background: rgb(255, 193, 105); color: #000000; border-color: rgb(255, 193, 105);text-align: center;">
                    Enviar
                </button>
                <button onclick="location.href='/areaSanitario.html'" class="btn btn-primary btn-block" type="button"
                        style="background: rgb(255, 193, 105); color: #000000; border-color: rgb(255, 193, 105);text-align: center;">Volver</button>
            </form>
        </div>
        <div class="block-heading">
            <h3 style="color: rgb(255, 193, 105);">Filtrar por:</h3>
            <form class="navbar-form navbar-right" style="border-top-color:  rgb(255, 193, 105)">
                <input type="text" id="myInput2" class="form-control" onkeypress="cambia_nombre()"
                       placeholder="Filtrado por nombre" title="NOMBRE" style="margin: 15px">
                <input type="text" id="myInput3" class="form-control" onkeypress="cambia_apellido1()"
                       placeholder="Filtrado por primer apellido" title="APELLIDO" style="margin: 15px">
            </form>
        </div>
    </section>
    <section class="clean-block clean-form light">
        <div class="container" style="border-top-color: rgb(151, 214, 181)">
            <div class="block-heading">
                <h2 style="color: #94d4b4;">Listado de Sanitarios</h2>
                <div class="table-responsive">
                    <table id="miTabla" style="border-top-color: rgb(151, 214, 181)">
                        <thead>
                        <tr>
                            <th style="color: #000000">ID</th>
                            <th style="color: #000000">Nombre</th>
                            <th style="color: #000000">Apellido 1</th>
                            <th style="color: #000000">Apellido 2</th>
                            <th style="color: #000000">Email</th>
                            <th style="color: #000000">Edad</th>
                            <th style="color: #000000">Nombre de usuario</th>
                            <th style="color: #000000">Rol</th>
                        </thead>
                        <tbody id="myTable">
                        {{#object}}
                        <tr>
                            <th>{{id}}</th>
                            <th><a href="/mostrar/{{id}}">{{name}}</a></th>
                            <th>{{surname1}}</th>
                            <th>{{surname2}}</th>
                            <th>{{email}}</th>
                            <th>{{age}}</th>
                            <th>{{username}}</th>
                            <th>{{speciality}}</th>
                        </tr>
                        {{/object}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
<script src="assets/js/tabla.js"></script>

</body>

</html>
