<!DOCTYPE html>
<html>
<script src="/assets/js/app.js"></script>
{{> head}}
<main class="page contact-us-page">
    <section class="clean-block clean-form dark"
             style="border-color: #000000;">
        <div class="container">
            <div class="block-heading">
                <head>
                <h2 style="color: #94d4b4">Contacto</h2>
                <p>Contacta con nosotros para resolver tus dudas. Puedes
                    hacerlos por teléfono o dejando tus datos en el siguiente
                    formulario.</p>
                </head>
            </div>
            <form style="border-top-color: #97d7b5;">
                <div class="form-group">
                    <label for="name">Nombre</label><input class="form-control"
                                                           type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="subject">Asunto</label><input class="form-control"
                                                              type="text" id="subject" name="subject">
                </div>
                <div class="form-group">
                    <label for="email">Email</label><input class="form-control"
                                                           type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea name="editor" id="editor" >
                            Introduce tu mensaje
                        </textarea>
                </div>
                <div class="container">
                        
                        <button onclick="submitQuestion();" class="btn btn-primary btn-block"
                                        style="border-color: rgba(255, 255, 255, 0.4); background: rgb(255, 193, 105); color: #000000;">
                                    Crear
                                </button>        
                </div>      
                </form>

                 <script>CKEDITOR.replace('editor', {
                    height: 200,
                    // By default, some basic text styles buttons are removed in the Standard preset.
                    // The code below resets the default config.removeButtons setting.
                    removeButtons: '',
                    // Custom style definition for the Bold feature.
                    coreStyles_bold: {
                        element: 'b',
                        overrides: 'strong'
                    },
                    // Custom style definition for the Italic feature.
                    coreStyles_italic: {
                        element: 'i',
                        overrides: 'em'
                    }
                    });
                    
                            </script>
        </div>
    </section>
</main>
<footer class="footer-basic">
    <div class="social">
        <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a><a
            href="https://es-es.facebook.com/"><i
            class="icon ion-social-facebook"></i></a><a href="https://twitter.com"><i
            class="icon ion-social-twitter"></i></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Inicio</a></li>
        <li class="list-inline-item"></li>
        <li class="list-inline-item"><a href="faq.html">Preguntas
            Frecuentes</a></li>
        <li class="list-inline-item"><a href="politica.html">Política de
            Privacidad</a></li>
    </ul>
    <p class="copyright">helseVITA © 2021</p>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>
