<!DOCTYPE html>
<html lang="es">

{{> head}}

<main class="page faq-page">
	<section class="clean-block clean-faq dark"
		style="background: rgb(151, 214, 181);">
		<div class="container">
			<div class="block-heading">
				<h2 style="color: #000000">Preguntas Frecuentes</h2>
				<p>Texto de relleno</p>
			</div>
			<div class="block-content">
				<div class="faq-item">
					<h4 class="question">Pregunta 1</h4>
					<div class="answer">
						<p>Respuesta 1</p>
						<p>Respuesta 1</p>
					</div>
				</div>
				<div class="faq-item">
					<h4 class="question">Pregunta 2</h4>
					<div class="answer">
						<p>Respuesta 2</p>
					</div>
				</div>
				<div class="faq-item">
					<h4 class="question">Pregunta 3</h4>
					<div class="answer">
						<p>Respuesta 3</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

{{> footer}}

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>

</html>
