<!DOCTYPE html>
<html lang="es">

{{> head}}

<main class="page faq-page">
	<section class="clean-block clean-faq dark"
		style="background: rgb(151, 214, 181);">
		<div class="container">
			<div class="block-heading">
				<h2 style="color: #000000">Preguntas Frecuentes</h2>
				<p>Texto de relleno</p>
			</div>
			<div class="block-content">
				<div class="faq-item">
					<h4 class="question">Pregunta 1</h4>
					<div class="answer">
						<p>Respuesta 1</p>
						<p>Respuesta 1</p>
					</div>
				</div>
				<div class="faq-item">
					<h4 class="question">Pregunta 2</h4>
					<div class="answer">
						<p>Respuesta 2</p>
					</div>
				</div>
				<div class="faq-item">
					<h4 class="question">Pregunta 3</h4>
					<div class="answer">
						<p>Respuesta 3</p>
					</div>
				</div>
			</div>
			<div class="container">
    <div class="block-heading">
        <h2 style="color: #94d4b4;">Déjanos tu pregunta</h2>
	<div id="editor" style="margin-top 150px">
        <p>BIENVENIDO A HELSEVITA</p>
    </div>
    <script>CKEDITOR.replace('editor', {
      height: 200,
      // By default, some basic text styles buttons are removed in the Standard preset.
      // The code below resets the default config.removeButtons setting.
      removeButtons: '',
      // Custom style definition for the Bold feature.
      coreStyles_bold: {
        element: 'b',
        overrides: 'strong'
      },
      // Custom style definition for the Italic feature.
      coreStyles_italic: {
        element: 'i',
        overrides: 'em'
      }
    });
    
    		</script>
		</div>
	</div>
	</section>
</main>

{{> footer}}


</html>
