<footer>
	<section class="clean-block features">
		<footer class="footer-basic">
			<div class="social">
				<a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
					class="icon ion-social-facebook"></i></a><a href="#"><i
					class="icon ion-social-twitter"></i></a>
			</div>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="/">Inicio</a></li>
				<li class="list-inline-item"></li>
				<li class="list-inline-item"><a href="faq.html">Preguntas
						Frecuentes</a></li>
				<li class="list-inline-item"><a href="#">Términos</a></li>
				<li class="list-inline-item"><a href="#">Política de
						Privacidad</a></li>
			</ul>
			<p class="copyright">helseVITA © 2021</p>
		</footer>
	</section>
</footer>
