<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>helseVITA</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
<link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
<link rel="stylesheet" href="assets/css/Footer-Basic.css">
<link rel="stylesheet" href="assets/css/Footer-Dark.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="assets/css/Map-Clean.css">
<link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>
<body>
	<nav
		class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar justify-content-between">
		<div class="container-fluid">
			<button data-toggle="collapse" class="navbar-toggler"
				data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span><span
					class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<a href="/"><img src="assets/img/helseVITA%20color%20copia.png"
					style="width: 200px;"></a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link active" href="/"
						style="width: 100px; font-size: 20px; color: rgba(0, 0, 0, 0.5);">Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="#seguros"
						style="width: 100px; font-size: 20px;">Seguros</a></li>
					<li class="nav-item"><a class="nav-link" href="#somos"
						style="font-size: 20px; width: 100px;">Somos</a></li>
					<li class="nav-item" style="width: 100px;"><a class="nav-link"
						href="contact-us.html" style="font-size: 20px;">Contacto</a></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"></li>
					<li class="nav-item"></li>
					<li class="nav-item"></li>
				</ul>
				<div class="dropdown">
					<a class="dropdown-toggle" aria-expanded="false"
						data-toggle="dropdown" href="#" style="color: rgb(149, 213, 180);"><svg
							xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
							viewBox="0 0 24 24" fill="none"
							style="color: rgba(0, 0, 0, 0.7); width: 35px; height: 35px;">
                            <path
								d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z"
								fill="currentColor"></path>
                            <path
								d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z"
								fill="currentColor"></path>
                            <path
								d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z"
								fill="currentColor"></path>
                        </svg></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="search.html">Buscador de
							Centros</a> <a class="dropdown-item" href="work-with-us.html">Trabaja
							con Nosotros</a> <a class="dropdown-item" href="faq.html">Preguntas
							Frecuentes</a>
					</div>
				</div>
			</div>
			<div class="btn-toolbar" role="toolbar">
				<button onclick="location.href='login.html'" class="btn btn-primary"
					type="button"
					style="margin: 30px; background: rgb(255, 191, 105); font-size: 20px; border-color: rgba(255, 255, 255, 0.4); color: #000000;">Mi
					helseVITA</button>
			</div>
		</div>
		</div>
	</nav>
</body>
