<!DOCTYPE html>
<html>

{{> head}}

<main class="page pricing-table-page">
    <section class="clean-block clean-pricing dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #94d4b4;">Seguros</h2>
                <p>Elige el que más se adapte a tus necesidades</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4">
                    <div class="clean-pricing-item"
                         style="border-top-color: rgb(151, 214, 181); height: 453px;">
                        <div class="heading">
                            <h3>Para ti</h3>
                        </div>
                        <p>Atención personalizada y de calidad</p>
                        <div class="features">
                            <h4>
                                <span class="feature">Cobertura Total:&nbsp;</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" viewBox="0 0 24 24" fill="none"
                                     style="width: 20px; height: 20px;">
                                    <path
                                            d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                            fill="currentColor"></path>
                                </svg>
                            </h4>
                            <h4>
									<span class="feature">Hospitalización:&nbsp;<svg
                                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none"
                                            style="width: 30px; height: 30px;">
                                            <path
                                                    d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                                    fill="currentColor"></path>
                                        </svg></span>
                            </h4>
                            <h4>
									<span class="feature"><strong>Intervenciones
											quirúrgicas:&nbsp;</strong></span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" viewBox="0 0 24 24" fill="none"
                                     style="width: 20px; height: 20px;">
                                    <path
                                            d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                            fill="currentColor"></path>
                                </svg>
                            </h4>
                        </div>
                        <div class="price">
                            <h4 style="color: rgb(255, 193, 105);">25€/mes</h4>
                        </div>
                        <button class="btn btn-primary btn-block" onclick="location.href='contact-us.html'"
                                type="button"
                                style="background: rgb(255, 193, 105); color: #000000; border-color: rgb(255, 193, 105);">
                            CONTRATAR
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="clean-pricing-item"
                         style="border-top-color: rgb(151, 214, 181);">
                        <div class="heading">
                            <h3>Para autónomos</h3>
                        </div>
                        <p>Atención de calidad para los accidentes laborales</p>
                        <div class="features">
                            <h4>
									<span class="feature"><strong>Cobertura Total:</strong>
										<svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                             height="1em" viewBox="0 0 24 24" fill="none"
                                             style="width: 30px; height: 30px;">
                                            <path
                                                    d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                                    fill="currentColor"></path>
                                        </svg><strong>&nbsp;</strong></span>
                            </h4>
                            <h4>
                                <span class="feature"><strong>Hospitalización</strong>:&nbsp;</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" viewBox="0 0 24 24" fill="none"
                                     style="width: 30px; height: 30px;">
                                    <path
                                            d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                            fill="currentColor"></path>
                                </svg>
                            </h4>
                            <h4>
									<span class="feature"><strong>Intervenciones
											quirúrgicas:&nbsp;</strong></span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" viewBox="0 0 24 24" fill="none"
                                     style="width: 30px; height: 30px;">
                                    <path
                                            d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                            fill="currentColor"></path>
                                </svg>
                                <span></span>
                            </h4>
                        </div>
                        <div class="price">
                            <h4 style="color: rgb(255, 193, 105);">50€/mes</h4>
                        </div>
                        <button class="btn btn-primary btn-block" onclick="location.href='contact-us.html'"
                                type="button"
                                style="background: rgb(255, 193, 105); color: #000000; border-color: rgb(255, 193, 105);">
                            CONTRATAR
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="clean-pricing-item"
                         style="border-top-color: rgb(151, 214, 181);">
                        <div class="heading">
                            <h3>Para tu familia</h3>
                        </div>
                        <p>Hasta 6 miembros</p>
                        <div class="features">
                            <h4>
									<span class="feature"><strong>Cobertura
											Total:&nbsp;</strong> <svg xmlns="http://www.w3.org/2000/svg"
                                                                       width="1em" height="1em" viewBox="0 0 24 24"
                                                                       fill="none"
                                                                       style="width: 30px; height: 30px;">
                                            <path
                                                    d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                                    fill="currentColor"></path>
                                        </svg></span>
                            </h4>
                            <h4>
									<span class="feature"><strong>Hospitalización</strong>:&nbsp;<svg
                                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none"
                                            style="width: 30px; height: 30px;">
                                            <path
                                                    d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                                    fill="currentColor"></path>
                                        </svg></span>
                            </h4>
                            <h4>
									<span class="feature"><strong>Intervenciones
											quirúrgicas:&nbsp;</strong></span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                     height="1em" viewBox="0 0 24 24" fill="none"
                                     style="width: 30px; height: 30px;">
                                    <path
                                            d="M10.5858 13.4142L7.75735 10.5858L6.34314 12L10.5858 16.2427L17.6568 9.1716L16.2426 7.75739L10.5858 13.4142Z"
                                            fill="currentColor"></path>
                                </svg>
                            </h4>
                        </div>
                        <div class="price">
                            <h4 style="color: rgb(255, 193, 105);">150€/mes</h4>
                        </div>
                        <button class="btn btn-primary btn-block" onclick="location.href='contact-us.html'"
                                type="button"
                                style="background: rgb(255, 193, 105); color: #000000; border-color: rgb(255, 193, 105);">
                            CONTRATAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer-basic">
    <div class="social">
        <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a><a
            href="https://es-es.facebook.com/"><i
            class="icon ion-social-facebook"></i></a><a href="https://twitter.com"><i
            class="icon ion-social-twitter"></i></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Inicio</a></li>
        <li class="list-inline-item"></li>
        <li class="list-inline-item"><a href="faq.html">Preguntas
            Frecuentes</a></li>
        <li class="list-inline-item"><a href="politica.html">Política de
            Privacidad</a></li>
    </ul>
    <p class="copyright">helseVITA © 2021</p>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>
