<!DOCTYPE html>
<html lang="es">
{{> head}}

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color:rgb(151,214,181);">Mi helseVITA</h2>
                <p>Introduce los siguientes datos para iniciar sesión</p>
            </div>
            <form action="/login" method="POST" style="border-top-color: rgb(151,214,181);">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="Password" name="password">
                    <input type="hidden" name="_csrf" value="{{token}}">
                </div>
                <button class="btn btn-primary btn-block" type="submit"
                        style="border-color: rgba(255,255,255,0.4);background: rgb(255,193,105);color: #000000;">Enviar
                </button>
            </form>
        </div>
    </section>
</main>

{{> footer}}

</html>