<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
{{> head}}

<script>$(document).ready( function () {
    $('#miTabla').DataTable();
} );</script>

<main class="page landing-page">
    <div style="margin-top: 100px">
    <table id="miTabla" class="display">
        <thead>
        <tr>
            <th>Día</th>
            <th>Hora</th>
            <th>Minuto</th>
            <th>Mes</th>
            <th>Año</th>
        </tr>
        </thead>
        <tbody>
        {{#citas}}
        <tr>
            <td>{{day}}</td>
            <td>{{hour}}</td>
            <td>{{minute}}</td>
            <td>{{month}}</td>
            <td>{{year}}</td>
        </tr>
        {{/citas}}
        </tbody>
    </table>
    </div>
</main>

{{> footer}}


<!-- Scripts -->
</html>
