<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
{{> head}}

<script>$(document).ready(function () {
    $('#miTabla').DataTable();
});</script>

<main class="page appointment-page">
    <section class="clean-block clean-form light">
        <div class="container" style="margin-top: 100px">
        <div class="block-heading"><h2 style="color: #94d4b4;">Lista de Citas</h2></div>
            <div class="row justify-center">
                <div class="col-12">
                    <table id="miTabla" class="display">
                        <thead>
                        <tr>
                            <th>Día</th>
                            <th>Mes</th>
                            <th>Año</th>
                            <th>Hora</th>
                            <th>Minuto</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#citas}}
                        <tr>
                            <td>{{day}}</td>
                            <td>{{month}}</td>
                            <td>{{year}}</td>
                            <td>{{hour}}</td>
                            <td>{{minute}}</td>
                        </tr>
                        {{/citas}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer}}

</html>
