<!DOCTYPE html>
<html lang="es">

{{> head}}

<main class="page select-page">
    <section class="clean-block clean-form dark">
        <div class="block-heading"><h2 style="color: #94d4b4;">Mi helseVITA</h2></div>
        <form style="border-top-color: rgb(151, 214, 181);">
            <button onclick="location.href='/areaPaciente'" class="btn btn-primary"
                    type="button"
                    style="width:205px; background: rgb(255, 191, 105); font-size: 20px; border-color: rgba(255, 255, 255, 0.4); color: #000000;">
                Área Paciente
            </button>
            <button onclick="location.href='/areaSanitario'" class="btn btn-primary"
                    type="button"
                    style="width:205px; background: rgb(255, 191, 105); font-size: 20px; border-color: rgba(255, 255, 255, 0.4); color: #000000;">
                Área Sanitario
            </button>
            <button onclick="location.href='/areaAdmin'" class="btn btn-primary"
                    type="button"
                    style="width:205px; background: rgb(255, 191, 105); font-size: 20px; border-color: rgba(255,255,255,0.4); color: #000000; margin-left: 110px">
                Área Administrador
            </button>
        </form>
    </section>
</main>

{{> footer}}

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>

</html>
