<!DOCTYPE html>
<html lang="es">
{{>head}}

<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #94d4b4;">Nueva cita</h2>
                <h3>Elige un día para tú cita</h3>
            </div>
            <form action="/exito" style="border-top-color: #97d6b5;">
            <center>
                <input type="datetime-local" name="tiempo" id="tiempo">
                <input type="hidden" name="id_paciente" value="{{id_paciente}}">
                <select id="list" class="form-control"  style="margin-bottom:15px" name="id_doctor">
                    <optgroup label="Sanitarios">
                        {{#docs}}
                        <option value="{{id}}" name="id_doctor" selected href="#">{{.}}</option>
                        {{/docs}}
                    </optgroup>
                </select>
                <button type="submit" action="/exito" method="get" class="btn btn-primary"> Enviar</button>
            </center>
            </form>
        </div>
    </section>
</main>

{{>footer}}
</html>