<!DOCTYPE html>
<html lang="es">
{{>head}}

<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #94d4b4;">Nueva cita</h2>
                <h3>Elige un día para tú cita</h3>
            </div>
            <center>
                <input type="datetime-local">
                <button type="submit" class="btn btn-primary"
                        style="margin: 15px; background: rgb(255, 191, 105); font-size: 20px; border-color: rgba(255, 255, 255, 0.4); color: #000000;">
                    Enviar</button>
            </center>
        </div>
    </section>
</main>

{{>footer}}
</html>