<!DOCTYPE html>
<html lang="en">
{{> head}}
<main class="page politica-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #94d4b4">Política de Privacidad</h2>
            </div>
            <div class="block-content">
                <div class="faq-item">
                    <h4 class="question">Responsable</h4>
                    <div class="answer">
                        <p>La entidad encargada de atender todas las cuestiones relativas al tratamiento de los datos de
                            carácter personal será helseVITA.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Finalidad</h4>
                    <div class="answer">
                        <p>Los datos que tratamos serán utilizados para:

                            Prestar servicio de acceso a los contenidos de la plataforma.
                            Gestionar su alta como usuario registrado.
                            Realizar informes estadísticos anónimos y medir el tráfico de la actividad desarrollada por
                            los usuarios en la plataforma.
                            Los datos del interesado se conservarán como mínimo, durante 5 años y 6 meses.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Legitimación</h4>
                    <div class="answer">
                        <p>La base legal para el tratamiento de sus datos es la ejecución del contrato existente en el
                            que el interesado es parte o el interés legítimo.
                            No obstante, se solicitará consentimiento para el tratamiento de sus datos personales en
                            relación con otras finalidades, tal y como mercadotecnia directa, publicidad y
                            comunicaciones comerciales realizadas con usuarios que no hayan llegado a contratar o
                            prospects, la realización de perfiles que tendrán como consecuencia decisiones automatizadas
                            sobre el usuario, la cesión de datos o en otros casos que no quedarían legitimados por la
                            ejecución del contrato o el interés legítimo.
                            La cesión de datos estará basada en el consentimiento que se solicite, sin que en ningún
                            caso la retirada de este consentimiento condicione la ejecución del contrato.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Destinatarios</h4>
                    <div class="answer">
                        <p>helseVITA podrá comunicar los datos personales del interesado a:

                            Proveedores externos de servicios que tratan los datos personales en nombre de Sanitas que
                            se vayan incorporando a este proyecto.

                            Las sociedades del Grupo helseVITA.

                            Otros terceros en la medida necesaria para: (i) cumplir con requerimientos administrativos,
                            resoluciones judiciales o la legislación aplicable; (ii) evitar el uso ilegal de nuestros
                            sitios web y aplicaciones, o la vulneración de nuestras condiciones de uso y directrices;
                            (iii) defendernos frente a las reclamaciones de terceros; y (iv) ayudar en la prevención o
                            investigación del fraude.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}
</html>