<!DOCTYPE html>
<html lang="es">
{{> head}}

<main class="page landing-page">
    <section class="clean-block clean-info light">
        <div class="container">
            <div class="block-heading">
                <h1>Error Error Error</h1>
                <h2>{{username}} not Found</h2>
                <button onclick="location.href='/'"
                        class="btn btn-primary " type="button"
                        style="background: rgb(255, 193, 105); color: #000000; border-color: rgb(255, 193, 105);">Volver
                </button>

            </div>
        </div>
    </section>

</main>

{{> footer}}

</html>
