<head>
    <title>helseVITA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-image: url("/hospital.jpg");
            background-size: fill;
        }
        .container {
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        form {
            margin-top: 30px
        }
        .user-list {
            margin-top: 30px;
        }
    </style>
</head>